@charset "utf-8";
/*css document*/


/* commonly used and decoration tools */
.hidden{
	display: none;
}

h2{
	color: #092540;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 72px;
}

h3{
	color: #998819;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 48px;
	margin-bottom: 10px;
}

p{
	color: #092540;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 24px;
	line-height: 30px;
}

/* containers */

#siteContainer{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	/* background-color: #e7e7e7; */
}

/* .goldBar{
	height: 20px;
	width: 100%;
	background-color: #998819;
} */

.goldBar{
	height: 20px;
	width: 100%;
	background: rgba(182,141,76,1);
	background: -moz-linear-gradient(left, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 19%, rgba(233,212,179,1) 48%, rgba(193,158,103,1) 82%, rgba(182,141,76,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182,141,76,1)), color-stop(19%, rgba(193,158,103,1)), color-stop(48%, rgba(233,212,179,1)), color-stop(82%, rgba(193,158,103,1)), color-stop(100%, rgba(182,141,76,1)));
	background: -webkit-linear-gradient(left, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 19%, rgba(233,212,179,1) 48%, rgba(193,158,103,1) 82%, rgba(182,141,76,1) 100%);
	background: -o-linear-gradient(left, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 19%, rgba(233,212,179,1) 48%, rgba(193,158,103,1) 82%, rgba(182,141,76,1) 100%);
	background: -ms-linear-gradient(left, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 19%, rgba(233,212,179,1) 48%, rgba(193,158,103,1) 82%, rgba(182,141,76,1) 100%);
	background: linear-gradient(to right, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 19%, rgba(233,212,179,1) 48%, rgba(193,158,103,1) 82%, rgba(182,141,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b68d4c', endColorstr='#b68d4c', GradientType=1 );
}



/* this is the header design elements  */
#mainHeader{
	height: 200px;
	/* background-color: #29abe2; */
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 10px 10px #888888;
	background: rgba(41,170,226,1);
	background: -moz-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,170,226,1)), color-stop(52%, rgba(113,206,239,1)), color-stop(100%, rgba(183,222,237,1)));
	background: -webkit-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
	background: -o-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
	background: linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29aae2', endColorstr='#b7deed', GradientType=1 );
}

.mainNav1{
	width: 500px;
	text-align: center;
	margin-left: 200px;
}

.mainNav2{
	width: 500px;
	text-align: center;
	margin-right: 200px;
}

a:link{
	color: #fff; text-decoration: none;
}

a:visited{
	color: #fff; text-decoration: none;
}

a:hover{
	color: #998819; text-decoration: none;
}

a:active{
	color: #fff; text-decoration: none;
}

.navLinks{
	font-size: 30px;
	color: #998819;
	font-family: 'Nunito Sans', sans-serif;
}

.navLinks{
	margin-top: 80px;
}


/* end of header */


/* this is the "WHO WE ARE" elements */
#about{
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 margin-top: 80px;
 margin-bottom: 80px;
 width: 80%;
}

#line{
	width: 500px;
	height: 2px;
	background-color: #998819;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 40px;
}

/* end of  "WHO WE ARE" elements*/



/* content break circles  */

#contentBreak{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 60px;
}

.circle{
	background-color: #29abe2;
	width: 20px;
	height: 20px;
	border-radius: 45px;
	margin-left: 20px;
	margin-right: 20px;
}

/* end of contentBreak */



#buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;

}


/* these are the bio elements */
#bio{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.headshot{
	margin: 0 auto;
	width: 250px;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 3px solid #29abe2;
}

#jamesbtn{
	height: 300px;
	width: 300px;

}

#grahambtn{
	height: 300px;
	width: 300px;

}

#james{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;

}

#graham{
	display: none;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
}

/* end of the bio elements */




/* these are the footer elements */
#footer{
	height: 200px;
	/* background-color: #29abe2; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: rgba(41,170,226,1);
background: -moz-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,170,226,1)), color-stop(52%, rgba(113,206,239,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
background: linear-gradient(45deg, rgba(41,170,226,1) 0%, rgba(113,206,239,1) 52%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29aae2', endColorstr='#b7deed', GradientType=1 );
}

#contact{
	margin-left: 20px;
}

#footer img{
	margin-right: 40px;
}

ul{
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

li{
	list-style-type: none;
  margin: 0;
  padding: 0;
	margin-top: 23px;
}
/* this is the end of the footer */
