@charset "utf-8";
/*css document*/


/* commonly used and decoration tools */
.hidden{
	display: none;
}

h2{
	color: #092540;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 72px;
}

h3{
	color: #998819;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 48px;
	margin-bottom: 10px;
}

p{
	color: #092540;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 24px;
	line-height: 30px;
}

/* containers */

#siteContainer{
	width: 100%;
	margin: 0 auto;
	background-color: #e7e7e7;
}

.goldBar{
	height: 20px;
	width: 100%;
	background-color: #998819;
}



/* this is the header design elements  */
#mainHeader{
	height: 200px;
	background-color: #092540;
	display: flex;
	justify-content: space-between;
}

.mainNav1{
	width: 500px;
	text-align: center;
	margin-left: 200px;
}

.mainNav2{
	width: 500px;
	text-align: center;
	margin-right: 200px;
}

a:link{
	color: #fff; text-decoration: none;
}

a:visited{
	color: #fff; text-decoration: none;
}

a:hover{
	color: #998819; text-decoration: none;
}

a:active{
	color: #fff; text-decoration: none;
}

.navLinks{
	font-size: 30px;
	color: #998819;
	font-family: 'Nunito Sans', sans-serif;
}

.navLinks{
	margin-top: 80px;
}


/* end of header */


/* this is the "WHO WE ARE" elements */
#about{
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 margin-top: 40px;
 margin-bottom: 50px;
 width: 80%;
}

#line{
	width: 500px;
	height: 2px;
	background-color: #998819;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* end of  "WHO WE ARE" elements*/



/* content break circles  */

#contentBreak{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 60px;
}

.circle{
	background-color: #998819;
	width: 20px;
	height: 20px;
	border-radius: 45px;
	margin-left: 10px;
	margin-right: 10px;
}

/* end of contentBreak */



#buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 20px;

}


/* these are the bio elements */
#bio{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.headshot{
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #998819;
	margin-bottom: 20px;
}


#james{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;

}

#graham{
	display: none;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
}

/* end of the bio elements */




/* these are the footer elements */
#footer{
	height: 200px;
	background-color: #092540;
	display: flex;
}

#contact{
	margin-left: 40px;
}

#footer img{
	margin-left: auto;
}

ul{
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

/* this is the end of the footer */
